<div class="container text-center">
<div class=" well  col-sm-4 col-sm-offset-4">
<form>
     <div class="input-group">
     <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
     <input type="text" class="form-control" placeholder="Enter Username" data-ng-model="user.name"></div><br>

     <div class="input-group">
     <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
     <input type="password" class="form-control" placeholder="Enter Password" data-ng-model="user.pass"></div><br>

     <button type="button" class="btn btn-info" data-ng-click="check()">Login</button>
</form>
</div>
</div>